.hero {
  &__container {
    margin: 0 auto;
    padding: 23px;
    max-width: 1276px;
  }
}
.parent {
  margin: 0 auto;
  max-width: 1230px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 23px;
}

.child {
  min-height: 300px;
  background-color: rgba(24, 84, 133, 1);
}

.child {
  grid-column: span 3;
}

@media (max-width: 991.98px) {
  .parent {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 479.98px) {
  .parent {
    grid-template-columns: repeat(3, 1fr);
  }
}
